langchain==0.2.2
langchain-community==0.2.3
# langchain-openai==0.1.8 # For embeddings
# openai==1.31.1 # For embeddings
chromadb==0.5.0 # Vector storage
tiktoken==0.7.0  # For embeddings 
pypdf
chromadb # Vector storage for embeddings
pytest
boto3
